@import "../../vars.css";

.copyright {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Padding for top and bottom */
    position:; /* Fixed position to stick to viewport */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
  }