@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3%;
}

.retainer {
  padding: 0.5rem 2rem;
  background: rgba(153, 153, 153, 0.1);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}


.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}


.skills h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:  px;
}

.skillImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skills p {
  font-size: 16px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  text-wrap: flex;
}

.historyItemDetails .historyItem .organisation {
  opacity: 0.3; 
  font-weight: 700;
}

.historyItem img {
    width: 50px;
}

.historyItem .organization {
  opacity: 0.7; 
}

.historyItemDetails h3 {
    font-size: 20px;
    font-weight: 530;
}

.historyItemDetails p {
    font-size: 16px;
    font-weight: 300;
}

.historyItemDetails ul {
    list-style-position: inside;
    font-size: 16px;
    list-style-type: disc;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width: 100%;
        gap: 9px;
    }
}