:root {
    /* colors */
    --color-text: #141619;
    --color-primary: #eee2dc;
    --color-dark-primary: #edc7b7;
    --color-secondary: #b3b4bd;
    --color-bg: #f1f1fb;
    --color-dark: #050a44;
    --color-button: #2c2e3a;
    --color-button-hover: #2980b9; /* Example hover color */

    /*fonts*/
    --fonts-robot: "Roboto";
}